<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <link rel="shortcut icon" type="image/x-icon" href="../static/PICTURES/mini.png">
    <title>Einfach Deutsch</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    

    <!-- Bootstrap core CSS -->
<link href="../static/Css/bootstrap.min.css" rel="stylesheet">

    <style>
              /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a710b; 
}
html {
    --maxWidth: 1600px;
    --gap: 3rem;
    scrollbar-color: #666 #201c29;
    background: #262626;
    color: #fff;
    overflow-x: hidden;
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .image-ronde{
        width : 130px; height : 130px;
        border: none;
       -moz-border-radius : 75px;
       -webkit-border-radius : 75px;
        border-radius : 75px;
      }
      .gras_italique_serif {
  font: bold italic large serif;
  font-size: 80px;
}
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/Css/carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hören</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>

        <div>
        <img src="../static/PICTURES/simo4.png" width="80%" alt="logo">
      </div>
    </div>

  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="140" height="140" src="https://i.pinimg.com/originals/4a/c2/10/4ac2104a767d5b9e664a3ec805ec7494.jpg"  />
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h2 style="color:purple">möchten Sie Deutsche Sprache lernen?</h2>
            <p style="color:pink"> Es ist wichtig,bei uns*Einfach Deutsch*,das hören zu beherrschen.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
  	<h1 class="gras_italique_serif" style="color:black;margin-left: 380px"> ~Themen~ </h1>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
      <img width="140" height="140" src="../static/PICTURES/FreiZeit.png" class="image-ronde"/></svg>
         <!-- /.col-lg-1 -------------------------------------------------------------------------------->
        <p></p>
         <a href="index1.html"><button type="button" class="btn btn-outline-secondary"> Mehr &raquo; </button></a>
    </div>
   
      



      <div class="col-lg-4">
       <img width="140" height="140" src="../static/PICTURES/Urlaub.jpg  "class="image-ronde"/></svg>
         <!-- /.col-lg-2 ----------------------------------------------------------------------------------->
        <p></p>
        
        <p><a class="btn btn-secondary" href="index6.html" role="button"> Mehr &raquo;</a></p>
      </div>
      





      <div class="col-lg-4">
         <img width="140" height="140" src="../static/PICTURES/Fest.jpg" class="image-ronde"/></svg>
         <!-- /.col-lg-3 ------------------------------------------------------------------------------------>
     
        <h2></h2>
        <p></p>
         <a href="index3.html"><button type="button" class="btn btn-outline-secondary"> Mehr &raquo; </button></a>
      </div>
       <hr class="featurette-divider">



      <div class="col-lg-4">
         <img width="140" height="140" src="../static/PICTURES/Kleidung.jpg" class="image-ronde"/>
       </svg>
          <!-- /.col-lg-4 ---------------------------------------------------------------------------->
        <h2></h2>
        <p></p>
        <p><a class="btn btn-secondary" href="index4.html" role="button">Mehr &raquo;</a></p>
      </div>
      





      <div class="col-lg-4">
       <img width="140" height="140" src="../static/PICTURES/Wetter.png" class="image-ronde"/>
     </svg>
        <!-- /.col-lg-5 -------------------------------------------------------------------------------->
        <h2></h2>
        <p></p>
         <a href="index5.html"><button type="button" class="btn btn-outline-secondary"> Mehr &raquo; </button></a>
      </div>
     



      <div class="col-lg-4">
        <img width="140" height="140" src="../static/PICTURES/Verkehrsmittel.jpg" class="image-ronde"/>
      </svg>
          <!-- /.col-lg-6 ----------------------------------------------------------------------->
        <h2></h2>
        <p></p>
        <p><a class="btn btn-secondary" href="index2.html" role="button">Mehr &raquo;</a></p>
      </div>
      


<hr class="featurette-divider">


      <div class="col-lg-4">
        <img width="140" height="140" src="../static/PICTURES/körper.jpg " class="image-ronde"/>
      </svg>
        <!-- /.col-lg-7------------------------------------------------------------------>
        <h2></h2>
        <p></p>
       <a href="index7.html"><button type="button" class="btn btn-outline-secondary"> Mehr &raquo; </button></a>
      </div>
      





      <div class="col-lg-4">
         <img width="140" height="140" src="../static/PICTURES/Einkaufen.jpg" class="image-ronde"/>
       </svg>
        <!-- /.col-lg-8 -------------------------------------------------------------------------->
        <h2></h2>
        <p></p>
        <p><a class="btn btn-secondary" href="index8.html" role="button">Mehr &raquo;</a></p>
      </div>
      






      <div class="col-lg-4">
        <img width="140" height="140" src="../static/PICTURES/Essen.jpg" class="image-ronde"/>
      </svg>
         <!-- /.col-lg-9 ---------------------------------------------------------------------->
        <h2></h2>
        <p></p>
       <a href="index9.html"><button type="button" class="btn btn-outline-secondary"> Mehr &raquo; </button></a>
      </div>
    </div><!-- /.row -->



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Die Bedeutung Des Hören!</span></h2>
        <p class="lead">Hören bedeutet nicht nur Laute und Geräusche hören, sondern auch deren Frequenzen wahrnehmen und innerlich damit in Resonanz gehen. Die Natur hat uns perfekt mit einem dreidimensionalen Hörsinn ausgestattet, um die Welt um uns herum wahrzunehmen, zu spüren und zu fühlen.</p>
      </div>
      <div class="col-md-5">
         <img width="100%" height="100%" src="../static/PICTURES/Avant la dernière.png"/></svg>

      </div>
    </div>
      <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> <span class="text-muted">L'Importance De L'Ecout!</span></h2>
        <p class="lead">Entendre ne signifie pas seulement entendre les sons et les bruits, mais aussi percevoir leurs fréquences et entrer en résonance avec eux. La nature nous a parfaitement équipés d'un sens de l'ouïe en trois dimensions afin de percevoir, ressentir et ressentir le monde qui nous entoure.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img width="100%" height="100%" src="../static/PICTURES/The last one.webp"/> </svg>

      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2021 BGI Group&middot;</p>
  </footer>
</main>
      
  </body>
</html>
