.FF
{
    padding-left: 90px;
    font-family: fantasy;
    font-weight: bolder;
    text-decoration: underline;
}
#Aus
{
    padding-top: 20px;
}
.Auu
{
    padding-top: 20px;
}
.hr
{
    padding-top: 70px;
}