<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
</head>
<body>
    <header>
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="../templates/index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../static/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Artikel und Artikelwörter</h3></div> 
      <h5 class="FF">Bestimmter Artikel im Nominativ und Akkusativ :</h5>
      <div class="tab1">
        <table border="3" width="600" height="150">  
          <thead>
              <tr>
                <th></th>
                <th>Maskulinum(M)</th>
                <th>Neutrum(N)</th>
                <th>Feminum(F)</th>
                <th>Plural(M,N,F)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th>Nominativ</th>
                <td><span class="autreC">der</span> Computer</td>
                <td><span class="autreC">das</span> Telefon</td>
                <td><span class="autreC">die</span> Kamera</td>
                <td><span class="autreC">die</span> Kassetten</td>
            </tr>
            <tr>
                <th>Akkusativ</th>
                <td><span class="autreC">den</span> Computer</td>
                <td><span class="autreC">das</span> Telefon</td>
                <td><span class="autreC">die</span> Kamera</td>
                <td><span class="autreC">die</span> Kassetten</td>
            </tr>

          </tbody>
          
        </table>
    </div>
    <hr>
    <div><h5 class="FF" >Unbestimmter Artikel und Negativartikel im Nominativ und Akkusativ :</h5></div>
    <div class="tab1">
        <table border="3" width="600" height="150">  
          <thead>
              <tr>
                <th></th>
                <th>Maskulinum(M)</th>
                <th>Neutrum(N)</th>
                <th>Feminum(F)</th>
                <th>Plural(M,N,F)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th>Nominativ</th>
                <td><span class="autreC">ein / kein</span> Computer</td>
                <td><span class="autreC">ein / kein</span> Telefon</td>
                <td><span class="autreC">eine / keine</span> Kamera</td>
                <td><span class="autreC"> null / keine</span> Kassetten</td>
            </tr>
            <tr>
                <th>Akkusativ</th>
                <td><span class="autreC">ein<strong>en</strong> / kein</span><span class="autreC"><strong>en</strong></span> Computer</td>
                <td><span class="autreC">ein / kein</span> Telefon</td>
                <td><span class="autreC">eine / keine</span> Kamera</td>
                <td><span class="autreC"> null / keine</span> Kassetten</td>
            </tr>

          </tbody>
          
        </table>
    </div>
    <hr>
    <h5 class="FF">Possesivartikel im Nominativ :</h5>
    <div class="tab1">
        <table border="3" width="600" height="150">  
          <thead>
              <tr>
                <th></th>
                <th>Maskulinum(M)</th>
                <th>Neutrum(N)</th>
                <th>Feminum(F)</th>
                <th>Plural(M,N,F)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>ich</td>
                <td>mein</td>
                <td>mein</td>
                <td>meine</td>
                <td>meine</td>
            </tr>
            <tr>
                <td>du</td>
                <td>dein</td>
                <td>dein</td>
                <td>deine</td>
                <td>deine</td>
            </tr>
            <tr>
                <td>er + es/sie</td>
                <td>sein/ihr</td>
                <td>sein/ihr</td>
                <td>seine/ihre</td>
                <td>seine/ihre</td>
            </tr>
            <tr>
                <td>wir</td>
                <td>unser</td>
                <td>unser</td>
                <td>unsere</td>
                <td>unsere</td>
            </tr>
            <tr>
                <td>ihr</td>
                <td>euer</td>
                <td>euer</td>
                <td>eure</td>
                <td>eure</td>
            </tr>
            <tr>
                <td>sie/Sie</td>
                <td>ihr/Ihr</td>
                <td>ihr/Ihr</td>
                <td>ihre/Ihre</td>
                <td>ihre/Ihre</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="acht">
        <p> <span class="hin">Hinweis :</span><br>
          <ul>
            <li>
              Endungen vom Pessessivartikel wie Unbestimmter Artikel/Negativartikel. Plural beim unbestimmten Artikel: Nullartikel(null).
            </li>
            
          </ul>
        </p>
      </div>
    <div class="hr"> 
        <hr>
        <footer class="container">
          <p class="float-end"><a href="../templates/Konnektor.html">Nächste Lektion</a></p>
          <p>&copy; 2021 BGI Group &middot; </p>
        </footer>
    </div>
</body>
</html>