<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
    <link rel="stylesheet" href="../static/css/Modalverben.css">
    <link rel="stylesheet" href="../static/css/PerfektV.css">
    <link rel="stylesheet" href="../static/css/impe.css">
</head>
<body>
    <header>
      
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../home/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Imperativsätze</h3></div> 
      <h5 class="FF">Regelmäßig verben :</h5>
      <div class="tab1">
        <table border="3" width="900" height="320">  
          <thead>
            <tr>
                <th align="center">informell Sg.</th>
                <th align="center">informell Pl.</th>
                <th align="center">formell</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><span class="ligne">du</span> komm<span class="ligne">st</span> → komm!</td>
                <td><span class="ligne">ihr</span> kommt → koomt! </td>
                <td>Sie kommen → kommen Sie!</td>
            </tr>
            <tr>
              <td><span class="ligne">du</span> rede<span class="ligne">st</span> → Rede!</td>
              <td><span class="ligne">ihr</span> redet  → Redet! </td>
              <td>Sie reden → Reden Sie!</td>
          </tr>
          <tr>
            <td><span class="ligne">du</span> warte<span class="ligne">st</span> → Warte!</td>
            <td><span class="ligne">ihr</span> wartet → Redet! </td>
            <td>Sie warten → warten Sie!</td>
          </tr>
          <tr>
            <td><span class="ligne">du</span> öffne<span class="ligne">st</span> → öffne!</td>
            <td><span class="ligne">ihr</span> öffnet → öffnet!</td>
            <td>Sie öffnen → öffnen Sie!</td>
          </tr>
          <tr>
            <td><span class="ligne">du</span> entschuldig<span class="ligne">st</span> → Entschuldig<span class="autreC">e</span></td>
            <td><span class="ligne">ihr</span> entschuldigt → Entschuldigt!</td>
            <td>Sie entschuldigen → Entschuldigen Sie!</td>
          </tr>
          <tr>
            <td><span class="ligne">du</span> läch<span class="ligne">elst</span> → lächl<span class="autreC">e</span></td>
            <td><span class="ligne">ihr</span> lächelt → Lächelt!</td>
            <td>Sie lächeln → Lächeln Sie!</td>
          </tr>
          <tr>
            <td><span class="ligne">du</span> pass<span class="ligne">t</span>auf → Pass auf</td>
            <td><span class="ligne">ihr</span> passt auf → Passt auf!</td>
            <td>Sie passen auf → Passen Sie auf!</td>
          </tr>
          </tbody>
        </table>    
    </div>
    <hr>
    <h5 class="FF">Verben mit Vokalwechsel :</h5>
    <div class="tab1">
      <table border="3" width="700" height="150">  
        <thead>
          <tr>
              <th align="center">informell Sg.</th>
              <th align="center">informell Pl.</th>
              <th align="center">formell</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td><span class="ligne">du</span> fähr<span class="ligne">st</span> → F<span class="autreC">a</span>ahr!</td>
              <td><span class="ligne">ihr</span> fahr → Fahrt! </td>
              <td>Sie fahren → Fahren Sie!</td>
          </tr>
          <tr>
            <td><span class="ligne">du</span> lie<span class="ligne">st</span> → Lies!</td>
            <td><span class="ligne">ihr</span> lest  → Lest!</td>
            <td>Sie lesen → Lesen Sie!</td>
        </tr>
        <tr>
          <td><span class="ligne">du</span> läd<span class="ligne">st</span> ein → L<span class="autreC">a</span>de ein!</td>
          <td><span class="ligne">ihr</span> ladet ein → Ladet ein! </td>
          <td>Sie laden ein → Laden Sie ein!</td>
        </tr>
        </tbody>
      </table>    
  </div>
  <hr>
  <h5 class="FF">"haben" und "sein" :</h5>
  <div class="tab1">
    <table border="3" width="700" height="150">  
      <thead>
        <tr>
            <th align="center">informell Sg.</th>
            <th align="center">informell Pl.</th>
            <th align="center">formell</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><span class="ligne">du</span> ha<span class="ligne">st</span> → ha<span class="autreC">b</span> keine Angst!</td>
            <td><span class="ligne">ihr</span> habt → Habt keine Angst!</td>
            <td>Sie haben → Haben Sie keine Angst!</td>
        </tr>
        <tr>
          <td><span class="ligne">du bist</span> → <span class="autreC">Sei</span> vorsichtig!</td>
          <td><span class="ligne">ihr</span> seid  → Seid vorsichtig!</td>
          <td>Sie <mark>sind</mark> → <span class="autreC">seien</span> Sie vorsichtig!</td>   
      </tr>
      </tbody>
    </table>    
</div>
<hr>
    <div class="bei">
      <h3> zB: zum Beispiel :</h3>
      <ul>
        <li>Fahrer: Schnallen Sie sich bitte an.</li>
        <li>Gehen Sie nach Hause!.</li>
        <li>Hilf deinem Bruder!.</li>
        <li>Warte noch 5 Minuten!.</li>
        <li>Kommen Sie bitte mit!.</li>
        <li>Hol mich bitte am Bahnhof ab.</li>
        <li>Fahr langsamer!.</li>
      </ul>
    </div>
<hr>
      <h5 class="FF">vorschläge mit ,"Sollen/Wollen wir ....","Soll ich ... ?" und mit "wir" :</h5>
      <div class="bei">
      <h6>vorschläge mit "Sollen/Wollen wir....?" "Soll ich...?"</h6>
      <ul>
        <li>Sollen / Wollen wir einen Kaffe trinken  → Ich schlage das vor.Möchtest du das auch ?   </li>
        <li>Soll ich helfen ?  → Ich kann helfen.Möchtest du das ?   </li>
      </ul>
      </div>
      <div class="bei">
        <h6>vorschläge mit "wir"</h6>
        <ul>
          <li>Gehen wir doch ins kino! → Ich schlage vor,wir gehen ins kino.</li>
          <li>kochen wir doch mal zusammen!  → Ich schlage vor.wir kochen zusammen.   </li>
        </ul>
        
        
        </div>

  <div class="hr">
    <hr>    
    <footer class="container">
      <p class="float-end"><a href="lokalRicht.html">Nächste Lektion</a></p>
      <p>&copy; 2021 BGI Group &middot; </p>
    </footer>
</div>



    
</body>
</html>