<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <title> Einfach Deutsch</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    

    <!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/bouton.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Grammatik</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
      <div>
        <img src="../static/image/simo4.png" width="80%" alt="logo">
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="../static/image/2.jpg" alt="Photo de grammaire">
        </div>
      </div>
      
    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="../static/image/vvv.jpg" height="140" width="140" alt="verbs"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Verben</h2>
        <p>Regelmäßig verben im Prasens</p>
        <a href="../templates/Verben.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="../static/image/worstellung1.png" height="140" width="140" alt="Wortstellung in Aussagen"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Wortstellung in Aussagen</h2>
        <p>W-Fragen und Ja / Nein-Fragen</p>
        <a href="../templates/Wortstellung in Aussagen.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/Artikel.jpg" width="140" height="140" alt="ArtikelWörter"> <text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Artikel und Artikelwörter</h2>
        <p>Bestimmter / Unbestimmter Artikel</p>
        <a href="../templates/Artikel.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img  src="../static/image/2-1.jpg" height="140" width="140" alt="konnektor"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Konnektoren</h2>
        <p>Aber, oder, und, denn</p>
        <a href="../templates/Konnektor.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="../static/image/41530950-illustration-avec-nuage-de-mots-à-propos-de-bla-bla-bla-.jpg" width="140" height="140" alt="bla bla bla"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Präteritum</h2>
        <p>Haben und Sein </p>
        <a href="../templates/Prateritum.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/kk.jpg" width="140" height="140" alt="Personalpronomen im Akkusativ "><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Personalpronomen</h2>
        <p>Personalpronomen im Akkusativ</p>
        <a href="../templates/Personalpronomen im Akkusativ.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="../static/image/verbosmodales.jpg" width="140" height="140" alt="modalverben"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Modalverben</h2>
        <p></p>
        <a href="../templates/Modalverben.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/pr.jpg" width="140" height="140" alt="modalverben"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Verben im Präsens</h2>
        <p>Vokalwechsel, trennbaren Vorsilben und mit Modalverben</p>
        <a href="../templates/PrasensVVT.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/images (1).jpg" width="140" height="140" alt="Perfekt"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Verben im Perfekt</h2>
        <p>(Un)Regelmäßig, (Un)trennbaren</p>
        <a href="../templates/PerfektV.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/pdativ.jpg" width="140" height="140" alt="Präpositionen mit Dativ"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Lokale Angaben</h2>
        <p>Präpositionen mit Dativ</p>
        <a href="../templates/lokalDativ.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/impe.png" width="140" height="140" alt="Imperativsätze"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Imperativsätze</h2>
        <p>Imperativsätze und Vorschläge</p>
        <a href="../templates/imperativ.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/LAD.png" width="140" height="140" alt="Lokale Angaben"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Lokale Angaben</h2>
        <p>Richtungsangaben + Akkusativ/Dativ</p>
        <a href="../templates/lokalRicht.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/mit.png" width="140" height="140" alt="mit Präposition"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Dativ</h2>
        <p>Präposition mit + Dativ</p>
        <a href="../templates/PDM.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img class="bd-placeholder-img rounded-circle" src="../static/image/A.png" width="140" height="140" alt="Indefinitpronomen"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Indefinitpronomen</h2>
        <p>nichts, etwas, man und alle</p>
        <a href="../templates/Prindi.html"><button class="btn btn2">Details anzeigen </button> </a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="00" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="../static/image/pr1.jpg" width="140" height="140" alt="Verwendung von Präsens"><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Verwendung von Präsens</h2>
        <p>Gegenwart/ allgemeine Gültigkeit / Zukunft</p>
        <a href="../templates/VerwendungVPR.html"><button class="btn btn1">Details anzeigen</button></a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Bedeutung der Grammatik<span class="text-muted"></span></h2>
        <p class="lead">
          Wenn du dabei bist einen Streit zu verlieren, fange an, die Grammatik deines Gegners zu korrigieren!“</p>
          <hr>
          <hr>
          <p class="lead">
            Ob Sie übungen machen möchten. Klicken Sie auf die Schaltfläche unten!!
          </p>
          <a href="../templates/index1.html"><button class="btn btn3">Details anzeigen</button></a>
        </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="../static/image/images.png" width="100%" alt="i'm silently correcting your grammar"><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Zurück nach oben</a></p>
    <p>&copy; 2021 BGI Group  &middot; </p>
  </footer>
</main>


  

      
  </body>
</html>
