<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 2021</title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="card" data-tilt data-tilt-scale="0.95" data-tilt-startY="40">
  <div class="year">
    <span>Übungen zur</span>
    <span>Grammatik folgen</span>  
    <span>in Kürze</span>
  </div>  
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js'></script><script  src="./script.js"></script>

</body>
</html>
