<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
    <link rel="stylesheet" href="../static/css/Modalverben.css">
    <link rel="stylesheet" href="../static/css/PerfektV.css">
    <link rel="stylesheet" href="../static/css/impe.css">
</head>
<body>
    <header>
      
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../static/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Lokale Angaben</h3></div> 
      <h5 class="FF">Richtungsangaben + Akkusativ :</h5>
      <div class="bei">
        <ul>
          <li>durch(den/das/die)</li>
          <li>um(den/das/die)...(herum) </li>
        </ul>
        <div class="bei">
            <h3> zB: zum Beispiel :</h3>
            <ul>
              <li><strong>durch den</strong> Park / <strong>durch das</strong> Einkaufszentrum / <strong>durch die</strong> Stadt </li>
              <li><strong>um den</strong> Haupteingang / <strong>um das</strong> haus / <strong>um die</strong> Ecke herum </li>
            </ul>
          </div>
        </div>
        <hr>
        <h5 class="FF">Richtungsangaben + Dativ :</h5>
        <div class="bei">
            <ul>
              <li>von</li>
              <li>vom(← von dem) </li>
              <li>von der</li>
              <li>zu</li>
              <li>zum(← zu dem)</li>
              <li>zur(←zu der)</li>
              <li>von-(bis) zu</li>
              <li>bei</li>
              <li>beim(← bei dem)</li>
              <li>bei der</li>
            </ul>
        </div>
        <div class="bei">
            <h3> zB: zum Beispiel :</h3>
            <ul>
              <li><strong>vom</strong> Bahnhof</li>
              <li><strong>vom der</strong> Zytglogge</li>
              <li><strong>zum</strong> Park</li>
              <li><strong>zur</strong> Zytglogge</li>
              <li><strong>vom</strong> Münster (bis)<strong>zum</strong> Bahnhof</li>
              <li><strong>von der</strong> Postgasse (bis) <strong>zur</strong> kramgasse</li>
              <li><strong>beim</strong> Bahnhof</li>
              <li><strong>bei der</strong> Zytglogge</li>
            </ul>
          </div>
          <hr>
          <h5 class="FF">Lokale Angaben + Akkusativ oder Dativ :</h5>
          <div class="bei">
            <ul>
              <li><em>in -<strong>wohin?</strong>(Akkusativ)</em></li>
              <li>in den  →<strong>in den</strong> Park</li>
              <li>ins(← in das) →<strong>ins</strong>Haus</li>
              <li>in die →<strong>in die</strong>Kramgasse </li>
              <li><em>in -<strong>wo?</strong>(Dativ)</em> </li>
              <li>im (← in dem) → <strong>im</strong> Barenpark</li>
              <li>im (← in dem) → <strong>im</strong> Haus</li>
              <li>in der → <strong>in der</strong> Schweiz</li>
            </ul>
          </div>

        
        
        
      



      <div class="hr">
        <hr>    
        <footer class="container">
          <p class="float-end"><a href="PDM.html">Nächste Lektion</a></p>
          <p>&copy; 2021 BGI Group &middot; </p>
        </footer>
      </div>
    
</body>
</html>