<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
    <link rel="stylesheet" href="../static/css/Modalverben.css">
</head>
<body>
    <header>
      
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../static/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Modalverben</h3></div> 
      <h5 class="FF">Modalverben im Präsense</h5>
      <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
              <tr>
                <th></th>
                <th>müssen</th>
                <th>können</th>
                <th>dürfen</th>
                <th>wollen</th>
                <th colspan="2">mögen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">ich</td>
                <td>m<span class="autreC">u</span>ss</td>
                <td>k<span class="autreC">a</span>nn</td>
                <td>d<span class="autreC">a</span>rf</td>
                <td>w<span class="autreC">i</span>ll</td>
                <td>m<span class="autreC">a</span>g</td>
                <td>möchte</td>
            </tr>
            <tr>
                <td align="center">du</td>
                <td>m<span class="autreC">u</span>sst</td>
                <td>k<span class="autreC">a</span>nnst</td>
                <td>d<span class="autreC">a</span>rfst</td>
                <td>w<span class="autreC">i</span>llst</td>
                <td>m<span class="autreC">a</span>gst</td>
                <td>möchtest</td>
            </tr>
            <tr>
                <td align="center">er/es/sie</td>
                <td>m<span class="autreC">u</span>ss</td>
                <td>k<span class="autreC">a</span>nn</td>
                <td>d<span class="autreC">a</span>rf</td>
                <td>w<span class="autreC">i</span>ll</td>
                <td>m<span class="autreC">a</span>g</td>
                <td>möchte</td>
            </tr>
            <tr>
                <td align="center">wir</td>
                <td>müssen</td>
                <td>können</td>
                <td>dürfen</td>
                <td>wollen</td>
                <td>mögen</td>
                <td>möchten</td>
            </tr>
            <tr>
                <td align="center">ihr</td>
                <td>müsst</td>
                <td>könnt</td>
                <td>dürft</td>
                <td>wollt</td>
                <td>mögt</td>
                <td>möchtet</td>
            </tr>
            <tr>
                <td align="center">sie/Sie</td>
                <td>müssen</td>
                <td>können</td>
                <td>dürfen</td>
                <td>wollen</td>
                <td>mögen</td>
                <td>möchten</td>
            </tr>
          </tbody>
        </table>    
    </div>
    <div class="Modal">
        <p> <span class="hin">Hinweis :</span><br>
          <ul>
            <li>
                <strong>müssen</strong> = Die Notwendigkeit : Es ist Norwendig.
            </li>
            <li>
                <strong>können</strong> = Die Fähigkeit : ich bin fähig.
            </li>
            <li>
                <strong>dürfen</strong> = Die Erlaubnis oder Das Verbot.
            </li>
            <li>
                <strong>wollen</strong> = Wille und Wunsch.
            </li>
            <li>
                Die form "möchte" ist der Konjuktiv II von "mögen". Man verwendet sie aber wie ein normales Modalverb im Präsens uin der Bedeutung "etwas höflich Wünschen".
            </li>
          </ul>
        </p>
      </div>
      <div class="bei">
        <h3> zB: zum Beispiel :</h3>
        <ul>
          <li>Ich kann gut schwimmen.</li>
          <li>wir können heute zu Hause bleiben.</li>
          <li>Er muss ein Arbeit finden.</li>
          <li>Ihr müsst mich verstehen.</li>
          <li>Sie wollen am freitag nicht arbeiten.</li>
          <li>Ich will später Informatiker werdern.</li>
          <li>Ich darf heute ins Kino gehen.</li>
          <li>Heute möchte ich mal früher ins Bett.</li>
          <li>Kinder möchten Fruchtsaft.</li>
          <li>Ich mag Sonne.</li>
        </ul>
      </div>
      <hr>
      <h5 class="FF">Wortstellung in Aussagesätzen und W-Fragen</h5>
      <div class="tab1">
      <table border="1" width="800" height="240">  
        <thead><tr>
            <th>Position 1</th>
            <th><span class="autreC">Position 2</span></th>
            <th></th>
            <th><span class="autreC">Satzende</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Beatriz</td>
            <td><span class="autreC">muss</span></td>
            <td>in der Woche früh</td>
            <td><span class="autreC">aufstehen</span></td>
          </tr>
          <tr>
            <td>Am wochenende</td>
            <td><span class="autreC">kann</span></td>
            <td>sie lange</td>
            <td><span class="autreC">schlafen</span></td>
          </tr>
          <tr>
            <td>Man</td>
            <td><span class="autreC">darf</span></td>
            <td>im Bus nicht laut Musik</td>
            <td> <span class="autreC">hören</span> </td>
          </tr>
          <tr>
            <td>Beatriz und Leopold</td>
            <td><span class="autreC">wollen</span></td>
            <td>heute ins kino</td>
            <td><span class="autreC">gehen</span></td>
          </tr>
          <tr>
            <td>Wann</td>
            <td><span class="autreC">möchtet</span></td>
            <td>ihr nach hause</td>
            <td><span class="autreC">fahren</span></td>
          </tr>
         </tbody>
      </table>
    </div>
    <div class="Modal">
        <p> <span class="hin">Hinweis :</span><br>
          <ul>
            <li>
                Das Modalverb steht in Aussagesätzen und in W-Fragen auf Position 2.
            </li>
            <li>
                Der Infinitiv steht am Satzende
            </li>
          </ul>
        </p>
      </div>
      <hr>
      <h5 class="FF">Wortstellung in Ja/Nein-Freage :</h5>
      <div class="tab1">
        <table border="1" width="500" height="100">  
          <thead><tr>
              <th><span class="autreC">Position 1</span></th>
              <th>Position 2</th>
              <th></th>
              <th><span class="autreC">Satzende</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="autreC">Darf</span></td>
              <td><span class="autreC">man</span></td>
              <td>im Bus laut Musik</td>
              <td><span class="autreC">hören</span></td>
            </tr>
           </tbody>
        </table>
      </div>


   

      <div class="hr"> 
        <hr>
        <footer class="container">
          <p class="float-end"><a href="PrasensVVT.html">Nächste Lektion</a></p>
          <p>&copy; 2021 BGI Group &middot; </p>
        </footer>
    </div>
    
</body>
</html>