<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
    <link rel="stylesheet" href="../static/css/Modalverben.css">
    <link rel="stylesheet" href="../static/css/PerfektV.css">
</head>
<body>
    <header>
      
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../static/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Verben im Perfekt</h3></div> 
      <h5 class="FF">Regelmäßig verben :</h5>
      <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
            <tr>
                <th></th>
                <th colspan="2" align="center">ge-[..]-(e)t</th>
                <th colspan="2" align="center">[..]-t</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">ich</td>
                <td>habe <span class="autreC">ge</span>schaff<span class="autreC">t</span> </td>
                <td>bin <span class="autreC">ge</span>start<span class="autreC">et</span></td>
                <td>habe trainier<span class="autreC">t</span></td>
                <td>bin passier<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">du</td>
                <td>hast <span class="autreC">ge</span>schaff<span class="autreC">t</span> </td>
                <td>bist <span class="autreC">ge</span>start<span class="autreC">et</span></td>
                <td>hast trainier<span class="autreC">t</span></td>
                <td>bist passier<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">er/es/sie</td>
                <td>hat <span class="autreC">ge</span>schaff<span class="autreC">t</span> </td>
                <td>ist <span class="autreC">ge</span>start<span class="autreC">et</span></td>
                <td>hat trainier<span class="autreC">t</span></td>
                <td>ist passier<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">wir</td>
                <td>haben <span class="autreC">ge</span>schaff<span class="autreC">t</span> </td>
                <td>sind <span class="autreC">ge</span>start<span class="autreC">et</span></td>
                <td>haben trainier <span class="autreC">t</span></td>
                <td>sind passier <span class="autreC">t</span></td>
                
            </tr>
            <tr>
                <td align="center">ihr</td>
                <td>habt <span class="autreC">ge</span>schaff<span class="autreC">t</span> </td>
                <td>seid<span class="autreC">ge</span>start<span class="autreC">et</span></td>
                <td>habt trainier<span class="autreC">t</span></td>
                <td>seid passier<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">sie/Sie</td>
                <td>haben <span class="autreC">ge</span>schaff<span class="autreC">t</span> </td>
                <td>sind <span class="autreC">ge</span>start<span class="autreC">et</span></td>
                <td>haben trainier <span class="autreC">t</span></td>
                <td>sind passier <span class="autreC">t</span></td>
            </tr>
          </tbody>
        </table>    
    </div>
    <div class="bei" >
        <h3> zB: zum Beispiel :</h3>
        <ul>
          <li>Ich habe die Ubungen gemacht. <em>(machen)</em></li>
          <li>er hat gestern Deutsch gelernt. <em>(lernen)</em></li>
          <li>Wann hat er Fußball gespielt ? <em>(spielen)</em></li>
          <li>Ich habe dich gestern gebraucht ? <em>(brauchen)</em></li>
          <li>Was hast du gesagt ? <em>(sagen)</em></li>
          <li>Ich habe Problem gehabt. <em>(haben)</em></li>
        </ul>
      </div>
      <hr>
      <h5 class="FF">Unregelmäßig und gemischte verben :</h5>
      <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
            <tr>
                <th></th>
                <th colspan="2" align="center">unregelmäßig verben</th>
                <th  align="center">gemischte verben</th>
                <th align="center">sein</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">ich</td>
                <td>habe <span class="autreC">ge</span>tr<strong>o</strong>ff<span class="autreC">en</span></td>
                <td>bin <span class="autreC">ge</span>fahr<span class="autreC">en</span></td>
                <td>habe <span class="autreC">ge</span>w<strong>u</strong>ss<span class="autreC">t</span></td>
                <td>bin gewessen</td>
            </tr>
            <tr>
                <td align="center">du</td>
                <td>hast <span class="autreC">ge</span>f<strong>u</strong>nd<span class="autreC">en</span></td>
                <td>bist <span class="autreC">ge</span>bli<strong>e</strong>b<span class="autreC">en</span></td>
                <td>hast <span class="autreC">ge</span>d<strong>a</strong>ch<span class="autreC">t</span></td>
                <td>bist gewessen</td>
            </tr>
            <tr>
                <td align="center">er/es/sie</td>
                <td>hat <span class="autreC">ge</span>schlaf<span class="autreC">en</span></td>
                <td>ist <span class="autreC">ge</span>komm<span class="autreC">en</span></td>
                <td>hat <span class="autreC">ge</span>w<strong>u</strong>ss<span class="autreC">t</span></td>
                <td>ist gewessen</td>
            </tr>
            <tr>
                <td align="center">wir</td>
                <td>haben <span class="autreC">ge</span>les<span class="autreC">en</span></td>
                <td>sind <span class="autreC">ge</span>g<strong>a</strong>ng<span class="autreC">en</span></td>
                <td>haben <span class="autreC">ge</span>d<strong>a</strong>ch<span class="autreC">t</span></td>
                <td>sind gewessen</td>
                
            </tr>
            <tr>
                <td align="center">ihr</td>
                <td>habt <span class="autreC">ge</span>h<strong>o</strong>lf<span class="autreC">en</span></td>
                <td>seid <span class="autreC">ge</span>lauf<span class="autreC">en</span></td>
                <td>habt <span class="autreC">ge</span>w<strong>u</strong>ss<span class="autreC">t</span></td>
                <td>seid gewessen</td>
            </tr>
            <tr>
                <td align="center">sie/Sie</td>
                <td>haben <span class="autreC">ge</span>spr<strong>o</strong>ch<span class="autreC">en</span></td>
                <td>sind <span class="autreC">ge</span>fahr<span class="autreC">en</span></td>
                <td>haben <span class="autreC">ge</span>d<strong>a</strong>ch<span class="autreC">t</span></td>
                <td>sind gewessen</td>
            </tr>
          </tbody>
        </table>    
    </div>
    <div class="Modal">
        <p> <span class="hin">Hinweis :</span><br>
          <ul>
            <li>
                Bei "haben" und "sein" meist Präteritum statt Perfekt !
            </li>
          </ul>
        </p>
      </div>
    <hr>
    <h5 class="FF">Verben mit trennbaren Vorsilben (z.B an-,aus-,auf-,mit-,weg-,runter-,vorbei-,zurück-) :</h5>
    
    
    <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
            <tr>
                <th></th>
                <th><span class="autreC">Position 2</span> </th>
                <th></th>
                <th> <span class="autreC">Satzende</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">ich</td>
                <td><span class="autreC">habe</span></td>
                <td>dich heute mehrmals</td>
                <td>an<span class="autreC">ge</span>ruf<span class="autreC">en</span></td>

            </tr>
            <tr>
                <td align="center">du</td>
                <td><span class="autreC">hast</span></td>
                <td>leider nicht</td>
                <td>zurück<span class="autreC">ge</span>ruf<span class="autreC">en</span></td>
            </tr>
            <tr>
                <td align="center">er/es/sie</td>
                <td><span class="autreC">hat</span></td>
                <td>den Antrag vom Studierendenwohnheim</td>
                <td>aus<span class="autreC">ge</span>füll<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">wir</td>
                <td><span class="autreC">haben</span></td>
                <td>leon nach Frankfurt</td>
                <td>mit<span class="autreC">ge</span>nomm<span class="autreC">en</span></td>
                
            </tr>
            <tr>
                <td align="center">ihr</td>
                <td><span class="autreC">habt</span></td>
                <td>den Müll noch nicht</td>
                <td>runter<span class="autreC">ge</span>breach<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">sie/Sie</td>
                <td><span class="autreC">sind</span></td>
                <td>heute Morgen</td>
                <td>weg<span class="autreC">ge</span>fahr<span class="autreC">en</span></td>
            </tr>
            <tr>
                <td align="center">Am Sonntag</td>
                <td><span class="autreC">bin</span></td>
                <td>ich erst um 11:00 Uhr</td>
                <td>auf<span class="autreC">ge</span>stand<span class="autreC">en</span></td>
            </tr>
          </tbody>
        </table>    
    </div>
    <hr>
    <h5 class="FF">Verben mit untrennbaren Vorsilben (z.B. er-,be-,ver-,hinter-) :</h5>
    <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
            <tr>
                <th></th>
                <th><span class="autreC">Position 2</span> </th>
                <th></th>
                <th> <span class="autreC">Satzende</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">ich</td>
                <td><span class="autreC">habe</span></td>
                <td>euch nicht</td>
                <td><strong>ver</strong>gess<span class="autreC">en</span></td>
            </tr>
            <tr>
                <td align="center">du</td>
                <td><span class="autreC">hast</span></td>
                <td>den Hausmeister nicht</td>
                <td><strong>er</strong>reich<span class="autreC">t</span></td>
            </tr>
            <tr>
                <td align="center">er/es/sie</td>
                <td><span class="autreC">hat</span></td>
                <td>keine Notiz</td>
                <td><strong>hinter</strong>lass<span class="autreC">en</span></td>
            </tr>
            <tr>
                <td align="center">wir</td>
                <td><span class="autreC">haben</span></td>
                <td>unsere Eltern</td>
                <td><strong>be</strong>ssuch<span class="autreC">t</span></td>
                
            </tr>
          </tbody>
        </table>    
    </div>


    <div class="hr">
        <hr>    
        <footer class="container">
          <p class="float-end"><a href="lokalDativ.html">Nächste Lektion</a></p>
          <p>&copy; 2021 BGI Group &middot; </p>
        </footer>
    </div>
    
</body>
</html>