<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
</head>
<body>
    <header>
      
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../static/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Personalpronomen im Akkusativ</h3></div> 

      <h5 class="FF">Possesivartikel im Nominativ :</h5>
    <div class="tab1">
        <table border="3" width="600" height="150">  
          <thead>
              <tr>
                <th>Nominativ</th>
                <th>Akkusativ</th>
                
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>ich</td>
                <td>mich</td>
                
            </tr>
            <tr>
                <td>du</td>
                <td>dich</td>
                
            </tr>
            <tr>
                <td>er/es/sie</td>
                <td>ihn/es/sie</td>
                
            </tr>
            <tr>
                <td>wir</td>
                <td>uns</td>
            </tr>
            <tr>
                <td>ihr</td>
                <td>euch</td>
            </tr>
            <tr>
                <td>sie/Sie</td>
                <td>Sie/sie</td>
            </tr>
        
          </tbody>
        </table>    
    </div>
    <div class="bei">
        <h3> zB: zum Beispiel :</h3>
        <ul>
            <li>Ich suche mein Computerspiel.</li>
            <li>Sie besuchen ihren Onkel..</li>
            <li>Er liest unsere Nachricht</li>
            <li>Ich habe dich und deine Freunde vor einem Jahr kennengelernt..</li>
        </ul>
    </div>

      <div class="hr"> 
        <hr>
        <footer class="container">
          <p class="float-end"><a href="Modalverben.html">Nächste Lektion</a></p>
          <p>&copy; 2021 BGI Group &middot; </p>
        </footer>
    </div>
    
</body>
</html>