<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einfach Deutsch</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
    <link rel="stylesheet" href="../static/css/Modalverben.css">
</head>
<body>
    <header>
      
        <section>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Grammatik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                  </ul>
              </div>
              <div>
                <img src="../static/image/simo4.png" width="80%" alt="logo">
              </div>
            </div>
          </nav>
        </section>
      </header>     
      <hr>
      <hr>
      <div class="titre"><h3>Verben im Präsens</h3></div> 
      <h5 class="FF">Verben mit Vokalwechsel :</h5>
      <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
              <tr>
                <th></th>
                <th>lesen</th>
                <th>sprechen / treffen</th>
                <th>fahren / schlafen</th>
                <th>laufen</th>
                <th>wissen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">ich</td>
                <td>lese</td>
                <td>spreche / treffe</td>
                <td>fahre / schlafe</td>
                <td>laufe</td>
                <td><span class="autreC">weiß</span></td>
                
            </tr>
            <tr>
                <td align="center">du</td>
                <td>l<span class="autreC">ie</span>st</td>
                <td>spr<span class="autreC">i</span>chst / tr<span class="autreC">i</span>ffst</td>
                <td>f<span class="autreC">ä</span>hrst / schl<span class="autreC">ä</span>fst</td>
                <td>l<span class="autreC">äu</span>fst</td>
                <td><span class="autreC">weißt</span></td>
            </tr>
            <tr>
                <td align="center">er/es/sie</td>
                <td>l<span class="autreC">ie</span>st</td>
                <td>spr<span class="autreC">i</span>cht / tr<span class="autreC">i</span>fft</td>
                <td>f<span class="autreC">ä</span>hrt / schl<span class="autreC">ä</span>ft</td>
                <td>l<span class="autreC">äu</span>ft</td>
                <td><span class="autreC">weiß</span></td>
            </tr>
            <tr>
                <td align="center">wir</td>
                <td>lesen</td>
                <td>sprechen / treffen</td>
                <td>fahren / schlafen</td>
                <td>laufen</td>
                <td>wissen</td>
                
            </tr>
            <tr>
                <td align="center">ihr</td>
                <td>lest</td>
                <td>sprecht / trefft</td>
                <td>fahrt / schlaft</td>
                <td>lauft</td>
                <td>wisst</td>
            </tr>
            <tr>
                <td align="center">sie/Sie</td>
                <td>lesen</td>
                <td>sprechen / treffen</td>
                <td>fahren / schlafen</td>
                <td>laufen</td>
                <td>wissen</td>
            </tr>
        
          </tbody>
        </table>    
    </div>
    <hr>
    <h5 class="FF">Verben mit trennbaren Vorsilben :</h5>
    <div class="tab1">
        <table border="3" width="800" height="250">  
          <thead>
              <tr>
                <th></th>
                <th>Position 1</th>
                <th><span class="autreC">Position 2</span></th>
                <th></th>
                <th><span class="autreC">Satzende</span></th>
                
            </tr>
          </thead>
          <tbody>
            <tr>
                <td align="center">anrufen</td>
                <td>ich</td>
                <td><span class="autreC">rufe</span></td>
                <td>dich</td>
                <td><span class="autreC">an</span></td>
            </tr>
            <tr>
                <td align="center">aufstehen</td>
                <td>Wann</td>
                <td><span class="autreC">stehst</span></td>
                <td>du</td>
                <td><span class="autreC">auf</span> ? </td>
            </tr>
            <tr>
                <td align="center">anfangen</td>
                <td>Nächste Woche</td>
                <td><span class="autreC">fängt</span></td>
                <td>Tobias das Training</td>
                <td><span class="autreC">an</span></td>
            </tr>
            <tr>
                <td align="center">ausprobieren</td>
                <td>Wir</td>
                <td><span class="autreC">probieren</span></td>
                <td>das Lauftraining</td>
                <td><span class="autreC">aus</span></td>
                
            </tr>
            <tr>
                <td align="center">mitkommen</td>
                <td>ihr</td>
                <td><span class="autreC">kommt</span></td>
                <td>zum Leonardo-Campus-Run</td>
                <td><span class="autreC">mit</span></td>
            </tr>
            <tr>
                <td align="center">mitmachen</td>
                <td>Annika und Tobias</td>
                <td><span class="autreC">machen</span></td>
                <td>beim lauftraining</td>
                <td><span class="autreC">mit</span></td>
            </tr>
          </tbody>
        </table>    
    </div>
    <hr>
    <h5 class="FF">Verben mit trennbaren Vorsilben und Modalverben :</h5>
    <div class="tab1">
        <table border="3" width="650" height="150">  
          <tbody>  
            <tr>
                <th align="center">mitmachen</th>
                <td>Ich</td>
                <td><span class="autreC">möchte</span></td>
                <td>unbedingt beim Lauftraining</td>
                <td><span class="autreC">mitmachen</span></td>
                
            </tr>
            <tr>
                <th align="center">mitnehmen</th>
                <td>Tim</td>
                <td><span class="autreC">kann</span></td>
                <td>uns im Auto</td>
                <td><span class="autreC">mitnehmen</span></td>
            </tr>
           
          </tbody>
        </table>    
    </div>


    <div class="hr"> 
        <hr>
        <footer class="container">
          <p class="float-end"><a href="PerfektV.html">Nächste Lektion</a></p>
          <p>&copy; 2021 BGI Group &middot; </p>
        </footer>
    </div>
    

    
</body>
</html>