<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/mini.png">
    <title>Verben</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bouton.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cssVerben.css">
    <link rel="stylesheet" href="../static/css/Wortstellung in Aussagen.css">
</head>
<body>
  
    <header>
      
      <section>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">Grammatik</a>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                  </li>
                </ul>
            </div>
            <div>
              <img src="../static/image/simo4.png" width="80%" alt="logo">
            </div>
          </div>
        </nav>
      </section>
    </header>    
  <hr>
  <div class="titre"><h3>Regelmäßige Verben im Präsens</h3></div> 
  <div class="tab1">
    <table border="1" width="800" height="300">  
      <thead><tr>
          <th></th>
          <th>Kommen</th>
          <th>Wohnen</th>
          <th>heißen</th>
          <th>arbeiten</th>
          <th>Sein</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center">Ich</td>
          <td>Komm<span class="autreC">e</span></td>
          <td>wohn<span class="autreC">e</span></td>
          <td>heiß<span class="autreC">e</span></td>
          <td>arbeit<span class="autreC">e</span></td>
          <td><span class="autreC">bin</span></td>
        </tr>
        <tr>
          <td align="center">du</td>
          <td>Komm<span class="autreC">st</span></td>
          <td>wohn<span class="autreC">st</span></td>
          <td>heiß<span class="autreC">t</span></td>
          <td>arbeit<em>e</em><span class="autreC">st</span></td>
          <td><span class="autreC">bist</span></td>
        </tr>
        <tr>
          <td align="center">er/sie/es</td>
          <td>komm<span class="autreC">t</span></td>
          <td>wohn<span class="autreC">t</span></td>
          <td>heiß<span class="autreC">t</span></td>
          <td>arbeit<em>e</em><span class="autreC">t</span></td>
          <td><span class="autreC">ist</span></td>
        </tr>
        <tr>
          <td align="center">wie</td>
          <td>Komm<span class="autreC">en</span></td>
          <td>wohn<span class="autreC">en</span></td>
          <td>heiß<span class="autreC">en</span></td>
          <td>arbeit<span class="autreC">en</span></td>
          <td><span class="autreC">sind</span></td>
        </tr>
        <tr>
          <td align="center"> ihr</td>
          <td>Komm<span class="autreC">t</span></td>
          <td>wohn<span class="autreC">en</span></td>
          <td>heiß<span class="autreC">en</span></td>
          <td>arbeit<em>e</em><span class="autreC">t</span></td>
          <td><span class="autreC">seid</span></td>
        </tr>
        
       </tbody>
       <tfoot>
        <tr>
          <td align="center">Sie/sie</td>
          <td>Komm<span class="autreC">en</span></td>
          <td>wohn<span class="autreC">en</span></td>
          <td>heiß<span class="autreC">en</span></td>
          <td>arbeit<span class="autreC">en</span></td>
          <td><span class="autreC">sind</span></td>
        </tr>

       </tfoot>
    </table>
  </div>
  <div class="bei">
    <h3> zB: zum Beispiel :</h3>
    <ul>
      <li>Ihr kommt spät zur Feier.</li>
      <li>Ich wohne mit meinem Onkel zusammen.</li>
      <li>Er heißt Ali.</li>
      <li>Wir arbeiten an der Universität Tsukuba.</li>
      <li>Sie sind am Leben.</li>

    </ul>
  </div>
  <div class="acht">
    <p> <span class="hin">Hinweis :</span><br>
      <ol>
        <li>
          Verbstamm auf "-t","-d" oder(manchmal) "-n": extra "e" bei "du","er/sie/es" und "ihr", z.B "arbeiten".
        </li>
        <li>
          verbstamm auf "-s","ß", und "-z": kein "s" bei "du",z.B "heißen".
        </li>
      </ol>
    </p>
  </div>
  <div class="hr">
    <hr>
  <footer class="container">
    <p class="float-end"><a href="Wortstellung in Aussagen.html">Nächste Lektion</a></p>
    <p>&copy; 2021 BGI Group </p>
  </footer>
  </div>
  
</body>
</html>