<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEAD START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<head>
<title>GOETHE-ZERTIFIKAT A1 - Lesen</title>
<!-- ~~~ Einbinden von Metainformationen, JavaScript-Dateien, Browserabfrage und der CSS2-Stylesheets ~~~ -->
<meta http-equiv="Content-Language" content="de-en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index,follow" />
<meta name="language" content="deutsch, de" />
<meta name="keywords" content="Goethe-Zertifikat, A1, Start Deutsch 1, Modellsatz, Onlineprüfung, Sprachprüfung, Deutschprüfung, barrierefrei, Screenreader, Gebärdensprache, Lippenlesen, interaktiv" />
<meta name="description" content="Deutsche Sprachprüfung Goethe-Zertifikat A1, Start Deutsch 1, Modellsatz - barrierefrei, interaktiv, online - mit Screenreader, Gebärdensprache und Lippenlesen" />
<meta name="author" content="Goethe-Institut" />
<meta name="Publisher" content="Goethe-Institut" />
<meta name="Copyright" content="Goethe-Institut, Felix Brandl und Klaus Lofing - barrierefreiesweb.de" />
<meta name="distribution" content="global" /><script src="../include/javascripts.js" type="text/javascript"></script>
<link href="../include/main.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEAD ENDE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<body>
<div id="pageWrapper">
  <div id="masthead">
    <!-- masthead content begin -->
    <div id="head_left">
      <h1 class="hidden"><a name="Hilfsnavigation" id="Hilfsnavigation"></a>Hilfsnavigation</h1>
      <ul id="hilfsnav">
        <li><span class="unsichtbar_h"><a accesskey="5" href="#Inhalt" title="Zum Inhalt">Zum Inhalt</a></span></li>
        <li><span class="unsichtbar_h"><a href="#main-navigation_a1" title="Zur Hauptnavigation">Zur Hauptnavigation</a></span></li>
        <li><span class="unsichtbar_h"><a href="#position" title="Zu den Zusatzinformationen">Zu den Zusatzinformationen</a></span></li>
      </ul>
    </div>
    <hr class="hidden" />
    <div id="logoarea">
      <div id="position">
        <h1 class="hidden"><a name="Zusatzinformationen" id="Zusatzinformationen"></a>Zusatzinformationen</h1>
        <ul id="foot">
          <li><img src='../medien/ter_nav_dot.gif' alt='' width="4" height="8" class="zusatzinf_hidden" /><a href="bedingungen.php" title="Zu den Durchführungsbestimmungen"><span>&nbsp;<strong>Durchführungsbestimmungen</strong></span></a>&nbsp;|&nbsp;&nbsp;</li>
          <li><img src='../medien/ter_nav_dot.gif' alt='' width="4" height="8" class="zusatzinf_hidden" /><a accesskey="1" href="hilfe.php" title="Zur Hilfeseite"><span>&nbsp;<strong>Hilfe</strong></span></a></li>
        </ul>
      </div>
      <hr class="hidden" />
      <img class="left margin_links2" src="../medien/GI_Logo_sw.jpg" alt="Logo Goethe Institut" width="133" height="62" />
      <div id="logo"><a class="rahmen" href="index.php" title="zur Startseite GOETHE-ZERTIFIKAT Modellsatz A1"><img src="../medien/a1/Bilder/A1_SD1_Mod_Leiste_Bau03.jpg" alt="Logo Goethe-Zertifikat A1 Modellsatz" width="550" height="70" /> </a> </div>
    </div>
    <hr class="hidden" />
    <!-- horizontal nav begin -->
    <div id="main-navigation_a1">
      <div id="mainnav_wrapper">
        <h1 class="hidden weiss"><a name="Hauptnavigation" id="Hauptnavigation"></a>Hauptnavigation</h1>
        <ul>
          <li><a href="hoeren.php">Hören</a></li>
          <li class='main-active_a1'>Lesen</li>
          <li><a href="schreiben.php">Schreiben</a></li>
          <li><a href="sprechen.php">Sprechen</a></li>
        </ul>
      </div>
    </div>
    <!-- horizontal nav end -->
    <div class="clear"></div>
    <hr class="hidden" />
    <!-- masthead content end -->
  </div>
  <div id="outerColumnContainer">
    <div class="inside">
      <h1 class="hidden"><a name="Inhalt" id="Inhalt"></a>Inhalt</h1>
      <p>GOETHE-ZERTIFIKAT A1 - Start Deutsch 1 - Modellsatz > <strong>Lesen</strong></p>
      <div class="trennlinie"></div>
      <h2>Lesen</h2>
      <p>Prüfungszeit: circa 25 Minuten</p>
      <p>Die Prüfungszeit für Prüfungsteilnehmer mit spezifischem Bedarf ist in den &#8220;<a href="bedingungen.php" title="Zu den Durchführungsbestimmungen">Durchführungsbestimmungen</a>&#8221; geregelt.</p>
      <p>Dieser Test hat drei Teile. Sie lesen kurze Briefe, Anzeigen <abbr class="explain" title="et cetera">etc.</abbr>.</p>
      <p>Zu jedem Text gibt es Aufgaben.</p>
      <p>Kreuzen Sie die richtige Antwort an.</p>
      <p>Wörterbücher oder Mobiltelefone sind in der Prüfung nicht erlaubt.</p>
      <div class="trennlinie"></div>
      <div class="hundertprozent">
        <h3><a id="ueberblick" name="ueberblick"></a>Übersicht</h3>
        <ul>
          <li><a href="#aufgabe1" title="Zu Teil 1">Teil 1</a></li>
          <li><a href="#aufgabe2" title="Zu Teil 2">Teil 2</a></li>
          <li><a href="#aufgabe3" title="Zu Teil 3">Teil 3</a></li>
        </ul>
        <div class="trennlinie"></div>
      </div>
      <div id="aufgabe1">
        <h3>Teil 1</h3>
        <p>Lesen Sie die beiden Texte und die Aufgaben 1 bis 5.</p>
        <p>Kreuzen Sie an: Richtig oder Falsch.</p>
        <div class="trennlinie"></div>
        <div id="antworten_aufgabe1" class="ohne_rand lila_a1 padding_oben">
          <h4 class="padding_links1"><span class="schrift_rot">Beispiel: 0 - Teil 1</span></h4>
          <form action="lesen_l1.php#loesung1" method="post" name="a1_02_1" id="a1_02_1">
            <div class="hundertprozent">
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Lis Zug kommt aus Hannover.</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV1_Beisp.jpg" width="500" height="362" alt="Beispiel 0 - Browseroberfläche mit Text im Inhaltsbereich." longdesc="../medien/a1/a1_02_1_1.html" /><br />
                  <a class="padding_oben0_8" href="../medien/a1/a1_02_1_1.html" title="zum Textinhalt Beispiel 0">Textinhalt der Abbildung - Nachricht: Hallo Li</a></p>
                <div class="left">
                  <p>
                    <label for="a1_02_1_bsp_1">
                      <input class="buttons" type="radio" name="a1_02_1_bsp" value="a1_02_1_bsp_1" id="a1_02_1_bsp_1" disabled="disabled" />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_1_bsp_2">
                      <input class="buttons" type="radio" name="a1_02_1_bsp" value="a1_02_1_bsp_2" id="a1_02_1_bsp_2" checked="checked" disabled="disabled" />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 1</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Lis Zug kommt nach halb eins an.</strong></legend>
                <div class="left">
                  <p>
                    <label for="a1_02_1_1_1">
                      <input class="buttons" type="radio" name="a1_02_1_1" value="a1_02_1_1_1" id="a1_02_1_1_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_1_1_2">
                      <input class="buttons" type="radio" name="a1_02_1_1" value="a1_02_1_1_2" id="a1_02_1_1_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 2</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Karin wartet den ganzen Vormittag vor der Auskunft.</strong></legend>
                <div class="left">
                  <p>
                    <label for="a1_02_1_2_1">
                      <input class="buttons" type="radio" name="a1_02_1_2" value="a1_02_1_2_1" id="a1_02_1_2_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_1_2_2">
                      <input class="buttons" type="radio" name="a1_02_1_2" value="a1_02_1_2_2" id="a1_02_1_2_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 3</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Ralf hatte am letzten Wochenende Geburtstag.</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV1_3-5_RGB.jpg" width="500" height="366" alt="Aufgabe 3 - Notizzettel." longdesc="../medien/a1/a1_02_1_2.html" /><br />
                  <a class="padding_oben0_1" href="../medien/a1/a1_02_1_2.html" title="zum Textinhalt Aufgabe 3">Textinhalt der Nachricht an Carmen</a></p>
                <div class="left">
                  <p>
                    <label for="a1_02_1_3_1">
                      <input class="buttons" type="radio" name="a1_02_1_3" value="a1_02_1_3_1" id="a1_02_1_3_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_1_3_2">
                      <input class="buttons" type="radio" name="a1_02_1_3" value="a1_02_1_3_2" id="a1_02_1_3_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 4</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Ralf hat nur zwei oder drei Leute eingeladen.</strong></legend>
                <div class="left">
                  <p>
                    <label for="a1_02_1_4_1">
                      <input class="buttons" type="radio" name="a1_02_1_4" value="a1_02_1_4_1" id="a1_02_1_4_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_1_4_2">
                      <input class="buttons" type="radio" name="a1_02_1_4" value="a1_02_1_4_2" id="a1_02_1_4_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 5</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Die Party findet draußen statt.</strong></legend>
                <div class="left">
                  <p>
                    <label for="a1_02_1_5_1">
                      <input class="buttons" type="radio" name="a1_02_1_5" value="a1_02_1_5_1" id="a1_02_1_5_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_1_5_2">
                      <input class="buttons" type="radio" name="a1_02_1_5" value="a1_02_1_5_2" id="a1_02_1_5_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <p class="padding_oben"><a name="a1_02_1_result" id="a1_02_1_result"></a>maximal 5 Punkte: <strong class="schrift_rot">0</strong></p>
              <h4 class="margin_top_negativ">
                <input title="Zu den Lösungen - Teil 1"  class="submit1" type="submit" name="Submit" value="Zu den Lösungen - Teil 1" />
              </h4>
            </div>
          </form>
        </div>
        <p><img src="../medien/Pfeil_links.gif" alt="" width="14" height="10" />&nbsp;<a href="#ueberblick" title="Zurück zur Übersicht">Zurück zur Übersicht</a><span class="unsichtbar">&nbsp;|&nbsp;<a href="#Hilfsnavigation" accesskey="2" title="Zurück zur Hilfsnavigation">Zurück zur Hilfsnavigation</a></span></p>
      </div>
      <div class="trennlinie"></div>
      <div id="aufgabe2">
        <h3>Teil 2</h3>
        <p>Lesen Sie die beiden Texte und die Aufgaben 6 bis 10.</p>
        <p>Wo finden Sie Informationen? Kreuzen Sie die richtige Antwort an.</p>
        <div class="trennlinie"></div>
        <div class="ohne_rand lila_a1 padding_oben">
          <div class="border_rechts">
            <form action="lesen_l2.php#loesunga1_2" method="post" name="a1_02_2" id="a1_02_2">
              <h4><span class="schrift_rot">Beispiel:0 - Teil 2</span></h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Sie wollen wissen: Regnet es in Deutschland?</strong></legend>
                <p class="mittig"><img class="abstand_rechts2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_Beisp_a.jpg" width="400" height="252" alt="Beispiel 0, Alternative 1 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_bsp.html" /><img class="margin_left2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_Beisp_b.jpg" width="400" height="252" alt="Beispiel 0, Alternative 2 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_bsp.html" /><br />
                  <a class="padding_oben0_8" href="../medien/a1/a1_02_2_bsp.html" title="zum Textinhalt der Inhaltsbereiche Beispiel 0">Textinhalt von www.openair.de und www.dwd.de</a></p>
                <p class="clear">
                  <label for="a1_02_2_bsp_1">
                    <input class="buttons" type="radio" name="a1_02_2_bsp" value="a1_02_2_bsp_1" id="a1_02_2_bsp_1" disabled="disabled" />
                    &nbsp;www.openair.de</label>
                </p>
                <p>
                  <label for="a1_02_2_bsp_2">
                    <input class="buttons" type="radio" name="a1_02_2_bsp" value="a1_02_2_bsp_2" id="a1_02_2_bsp_2" checked="checked" disabled="disabled" />
                    &nbsp;www.dwd.de</label>
                </p>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 6</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Sie möchten mit dem Schiff auf dem Rhein fahren.</strong></legend>
                  <p class="mittig"><img class="abstand_rechts2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_6a.jpg" width="400" height="252" alt="Aufgabe 6, Alternative 1 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_6.html" /><img class="margin_left2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_6b.jpg" width="400" height="252" alt="Aufgabe 6, Alternative 2 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_6.html" /><br />
                    <a class="padding_oben0_8" href="../medien/a1/a1_02_2_6.html" title="zum Textinhalt der Inhaltsbereiche Aufgabe 6">Textinhalt von www.schiff-ruedesheim.de und www.bingen-ruedesheimer.de</a></p>
                <p class="clear">
                  <label for="a1_02_2_1_1">
                    <input class="buttons" type="radio" name="a1_02_2_1" value="a1_02_2_1_1" id="a1_02_2_1_1"  />
                    &nbsp;www.schiff-ruedesheim.de</label>
                </p>
                <p>
                  <label for="a1_02_2_1_2">
                    <input class="buttons" type="radio" name="a1_02_2_1" value="a1_02_2_1_2" id="a1_02_2_1_2"  />
                    &nbsp;www.bingen-ruedesheimer.de</label>
                </p>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 7</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Sie möchten Deutsch in Deutschland lernen.</strong></legend>
                  <p class="mittig"><img class="abstand_rechts2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_7a.jpg" width="400" height="252" alt="Aufgabe 7, Alternative 1 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_7.html" /><img class="margin_left2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_7b.jpg" width="400" height="252" alt="Aufgabe 7, Alternative 2 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_7.html" /><br />
                    <a class="padding_oben0_8" href="../medien/a1/a1_02_2_7.html" title="zum Textinhalt der Inhaltsbereiche Aufgabe 7">Textinhalt von www.sprachenfuchs.de und www.eviva.com</a></p>
                <p class="clear">
                  <label for="a1_02_2_2_1">
                    <input class="buttons" type="radio" name="a1_02_2_2" value="a1_02_2_2_1" id="a1_02_2_2_1"  />
                    &nbsp;www.sprachenfuchs.de</label>
                </p>
                <p>
                  <label for="a1_02_2_2_2">
                    <input class="buttons" type="radio" name="a1_02_2_2" value="a1_02_2_2_2" id="a1_02_2_2_2"  />
                    &nbsp;www.eviva.com</label>
                </p>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 8</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Sie möchten ein Zugticket im Internet kaufen.</strong></legend>
                  <p class="mittig"><img class="abstand_rechts2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_8a.jpg" width="400" height="252" alt="Aufgabe 8, Alternative 1 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_8.html" /><img class="margin_left2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_8b.jpg" width="400" height="252" alt="Aufgabe 8, Alternative 2 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_8.html" /><br />
                    <a class="padding_oben0_8" href="../medien/a1/a1_02_2_8.html" title="zum Textinhalt der Inhaltsbereiche Aufgabe 8">Textinhalt von www.DER.com und www.RED.com</a></p>
                <p class="clear">
                  <label for="a1_02_2_3_1">
                    <input class="buttons" type="radio" name="a1_02_2_3" value="a1_02_2_3_1" id="a1_02_2_3_1"  />
                    &nbsp;www.DER.com</label>
                </p>
                <p>
                  <label for="a1_02_2_3_2">
                    <input class="buttons" type="radio" name="a1_02_2_3" value="a1_02_2_3_2" id="a1_02_2_3_2"  />
                    &nbsp;www.RED.com</label>
                </p>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 9</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Sie möchten Informationen über den Bodensee.</strong></legend>
                  <p class="mittig"><img class="abstand_rechts2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_9a.jpg" width="400" height="252" alt="Aufgabe 9, Alternative 1 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_9.html" /><img class="margin_left2" src="../medien/a1/Bilder/SD1_Mod_Kand_LV2_9b.jpg" width="400" height="252" alt="Aufgabe 9, Alternative 2 - Browseroberfläche mit Bereich für Internetadresse und Textinhalt." longdesc="../medien/a1/a1_02_2_9.html" /><br />
                    <a class="padding_oben0_8" href="../medien/a1/a1_02_2_9.html" title="zum Textinhalt der Inhaltsbereiche Aufgabe 9">Textinhalt von www.bodensee.de und www.rottenmeier.de</a></p>
                <p class="clear">
                  <label for="a1_02_2_4_1">
                    <input class="buttons" type="radio" name="a1_02_2_4" value="a1_02_2_4_1" id="a1_02_2_4_1"  />
                    &nbsp;www.bodensee.de</label>
                </p>
                <p>
                  <label for="a1_02_2_4_2">
                    <input class="buttons" type="radio" name="a1_02_2_4" value="a1_02_2_4_2" id="a1_02_2_4_2"  />
                    &nbsp;www.rottenmeier.de</label>
                </p>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 10</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie"><strong>&nbsp;Sie sind in Wiesbaden und möchten mit dem Zug am Mittag in Hamburg sein.</strong></legend>
                <table class="breite_spezial2 margin_left1_ie" cellpadding="1" cellspacing="2" summary="Tabelle mit 7 Spalten und 3 Zeilen">
                  <caption>
                  a&nbsp;&nbsp;www.reiseauskunft.bahn.de
                  </caption>
                  <thead>
                    <tr align="left" valign="top">
                      <th>&nbsp;</th>
                      <th id="Bahnhof1" class="breite_15pro">Bahnhof</th>
                      <th id="Datum1" class="breite_15pro">Datum</th>
                      <th id="Zeit1" class="breite_15pro">Zeit</th>
                      <th id="Dauer1" class="breite_15pro">Dauer</th>
                      <th id="Umsteigen1" class="breite_15pro">Umsteigen</th>
                      <th id="Angebot1" class="breite_15pro">Angebot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr align="left" valign="top">
                      <th id="ab1">ab</th>
                      <td headers="Bahnhof1 ab1">Hamburg</td>
                      <td headers="Datum1 ab1">17.2.</td>
                      <td headers="Zeit1 ab1">12.18</td>
                      <td headers="Dauer1 ab1">4.34</td>
                      <td headers="Umsteigen1 ab1">1</td>
                      <td headers="Angebot1 ab1">ICE, S</td>
                    </tr>
                    <tr align="left" valign="top">
                      <th id="an1">an</th>
                      <td headers="Bahnhof1 an1">Wiesbaden</td>
                      <td headers="Datum1 an1">17.2</td>
                      <td headers="Zeit1 an1">16.52</td>
                      <td headers="Dauer1 an1"> </td>
                      <td headers="Umsteigen1 an1"> </td>
                      <td headers="Angebot1 an1"> </td>
                    </tr>
                  </tbody>
                </table>
                <table class="breite_spezial2 margin_left1_ie" cellpadding="1" cellspacing="2" summary="Tabelle mit 7 Spalten und 3 Zeilen">
                  <caption>
                  b&nbsp;&nbsp;www.reiseauskunft.bahn.de
                  </caption>
                  <thead>
                    <tr align="left" valign="top">
                      <th>&nbsp;</th>
                      <th id="Bahnhof2" class="breite_15pro">Bahnhof</th>
                      <th id="Datum2" class="breite_15pro">Datum</th>
                      <th id="Zeit2" class="breite_15pro">Zeit</th>
                      <th id="Dauer2" class="breite_15pro">Dauer</th>
                      <th id="Umsteigen2" class="breite_15pro">Umsteigen</th>
                      <th id="Angebot2" class="breite_15pro">Angebot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr align="left" valign="top">
                      <th id="ab2">ab</th>
                      <td headers="Bahnhof2 ab2">Wiesbaden</td>
                      <td headers="Datum2 ab2">17.2.</td>
                      <td headers="Zeit2 ab2">08.09</td>
                      <td headers="Dauer2 ab2">4:31</td>
                      <td headers="Umsteigen2 ab2">1</td>
                      <td headers="Angebot2 ab2">S, ICE</td>
                    </tr>
                    <tr align="left" valign="top">
                      <th id="an2">an</th>
                      <td headers="Bahnhof2 an2">Hamburg</td>
                      <td headers="Datum2 an2">17.2.</td>
                      <td headers="Zeit2 an2">12.40</td>
                      <td headers="Dauer2 an2"> </td>
                      <td headers="Umsteigen2 an2"> </td>
                      <td headers="Angebot2 an2"> </td>
                    </tr>
                  </tbody>
                </table>
                <p class="padding_oben">
                  <label for="a1_02_2_5_1">
                    <input class="buttons" type="radio" name="a1_02_2_5" value="a1_02_2_5_1" id="a1_02_2_5_1"  />
                    &nbsp;a</label>
                </p>
                <p>
                  <label for="a1_02_2_5_2">
                    <input class="buttons" type="radio" name="a1_02_2_5" value="a1_02_2_5_2" id="a1_02_2_5_2"  />
                    &nbsp;b</label>
                </p>
              </fieldset>
              <p class="padding_oben"><a name="a1_02_2_result" id="a1_02_2_result"></a>maximal 5 Punkte: <strong class="schrift_rot">0</strong></p>
              <h4 class="margin_top_negativ">
                <input title="Zu den Lösungen - Teil 2"  class="submit1" type="submit" name="Submit" value="Zu den Lösungen - Teil 2" />
              </h4>
            </form>
          </div>
        </div>
        <p><img src="../medien/Pfeil_links.gif" alt="" width="14" height="10" />&nbsp;<a href="#ueberblick" title="Zurück zur Übersicht">Zurück zur Übersicht</a><span class="unsichtbar">&nbsp;|&nbsp;<a href="#Hilfsnavigation" accesskey="2" title="Zurück zur Hilfsnavigation">Zurück zur Hilfsnavigation</a></span></p>
        <div class="trennlinie"></div>
      </div>
      <div id="aufgabe3">
        <h3>Teil 3</h3>
        <p>Lesen Sie die Texte und die Aufgaben 11 bis 15.</p>
        <p>Kreuzen Sie an: Richtig oder Falsch.</p>
        <div class="trennlinie"></div>
        <div class="ohne_rand lila_a1 padding_oben">
          <div class="border_rechts">
            <form action="lesen_l3.php#loesunga1_3" method="post" name="a1_02_3" id="a1_02_3">
              <h4><span class="schrift_rot">Beispiel 0 - Teil 3</span></h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie">&nbsp;An der Tür der <strong>Sprachschule</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV3_Beisp_RGB.jpg" width="450" height="247" alt="SPRACHZENTRUM - Das Sprachzentrum ist umgezogen. Sie finden uns jetzt in der Beethovenstr. 23" /></p>
                <p>Zum Deutsch Lernen gehen Sie in die Beethovenstraße 23.</p>
                <div class="left">
                  <p>
                    <label for="a1_02_3_bsp_1">
                      <input class="buttons" type="radio" name="a1_02_3_bsp" value="a1_02_3_bsp_1" id="a1_02_3_bsp_1" checked="checked" disabled="disabled" />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_3_bsp_2">
                      <input class="buttons" type="radio" name="a1_02_3_bsp" value="a1_02_3_bsp_2" id="a1_02_3_bsp_2" disabled="disabled" />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 11</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie">&nbsp;In der <strong>Sprachschule</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV3_11.jpg" width="450" height="234" alt="In der 10-Uhr-Pause bekommen Sie an der Rezeption ein Frühstückspaket: Belegte Brötchen und Getränke für 2 Euro." /></p>
                <p>In der Sprachschule können Sie etwas zu essen kaufen.</p>
                <div class="left">
                  <p>
                    <label for="a1_02_3_1_1">
                      <input class="buttons" type="radio" name="a1_02_3_1" value="a1_02_3_1_1" id="a1_02_3_1_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_3_1_2">
                      <input class="buttons" type="radio" name="a1_02_3_1" value="a1_02_3_1_2" id="a1_02_3_1_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 12</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie">&nbsp;An der <strong>Post</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV3_12.jpg" width="450" height="228" alt="Öffnungszeiten: montags – freitags 8.00 – 12.00 und 13.00 – 18.00 samstags 8.00 – 12.00 Uhr" /></p>
                <p>Es ist Samstagnachmittag. Sie können auf der Post Briefmarken kaufen.</p>
                <div class="left">
                  <p>
                    <label for="a1_02_3_2_1">
                      <input class="buttons" type="radio" name="a1_02_3_2" value="a1_02_3_2_1" id="a1_02_3_2_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_3_2_2">
                      <input class="buttons" type="radio" name="a1_02_3_2" value="a1_02_3_2_2" id="a1_02_3_2_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 13</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie">&nbsp;Am <strong>Bahnhof</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV3_13.jpg" width="450" height="228" alt="Auf dem gesamten Bahnhof ist das Rauchen verboten." /></p>
                <p>Sie können hier Zigaretten rauchen.</p>
                <div class="left">
                  <p>
                    <label for="a1_02_3_3_1">
                      <input class="buttons" type="radio" name="a1_02_3_3" value="a1_02_3_3_1" id="a1_02_3_3_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_3_3_2">
                      <input class="buttons" type="radio" name="a1_02_3_3" value="a1_02_3_3_2" id="a1_02_3_3_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 14</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie">&nbsp;Eingang <strong>Restaurant</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV3_14.jpg" width="450" height="229" alt="Heute im Bavaria: Bayerischer Abend Brezeln, Weißwürste, Sauerkraut Volksmusik, ab 20 Uhr Tanz" /></p>
                <p>Heute Abend können Sie in diesem Restaurant tanzen.</p>
                <div class="left">
                  <p>
                    <label for="a1_02_3_4_1">
                      <input class="buttons" type="radio" name="a1_02_3_4" value="a1_02_3_4_1" id="a1_02_3_4_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_3_4_2">
                      <input class="buttons" type="radio" name="a1_02_3_4" value="a1_02_3_4_2" id="a1_02_3_4_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <div class="trennlinie"></div>
              <h4>Aufgabe 15</h4>
              <fieldset>
                <legend class="margin_top_negativ0_8_ie">&nbsp;An der <strong>Haltestelle</strong></legend>
                <p class="mittig"><img src="../medien/a1/Bilder/SD1_Mod_Kand_LV3_15.jpg" width="450" height="228" alt="In der Neujahrsnacht Busverkehr bis 23.00 Uhr und von 1.00 Uhr bis 5.00 Uhr alle 30 Minuten" /></p>
                <p>Von 23 Uhr bis 1 Uhr fährt kein Bus.</p>
                <div class="left">
                  <p>
                    <label for="a1_02_3_5_1">
                      <input class="buttons" type="radio" name="a1_02_3_5" value="a1_02_3_5_1" id="a1_02_3_5_1"  />
                      &nbsp;Richtig.</label>
                  </p>
                </div>
                <div class="left margin_left2">
                  <p>
                    <label for="a1_02_3_5_2">
                      <input class="buttons" type="radio" name="a1_02_3_5" value="a1_02_3_5_2" id="a1_02_3_5_2"  />
                      &nbsp;Falsch.</label>
                  </p>
                </div>
              </fieldset>
              <p class="padding_oben"><a name="a1_02_3_result" id="a1_02_3_result"></a>maximal 5 Punkte: <strong class="schrift_rot">0</strong></p>
              <h4 class="margin_top_negativ">
                <input title="Zu den Lösungen - Teil 3"  class="submit1" type="submit" name="Submit" value="Zu den Lösungen - Teil 3" />
              </h4>
            </form>
          </div>
        </div>
      </div>
      <h3 id="b2_01_result_total" class="margin_left_22_pro inline">Gesamtergebnis Lesen:</h3>
      <p class="inline">&nbsp;Teile 1 bis 3&nbsp;&nbsp;<strong class="schrift_rot">0</strong> von 15 Punkten</p>
      <p><img src="../medien/Pfeil_links.gif" alt="" width="14" height="10" />&nbsp;<a href="#ueberblick" title="Zurück zur Übersicht">Zurück zur Übersicht</a><span class="unsichtbar">&nbsp;|&nbsp;<a href="#Hilfsnavigation" accesskey="2" title="Zurück zur Hilfsnavigation">Zurück zur Hilfsnavigation</a></span></p>
      <div class="trennlinie padding_oben1"></div>
      <div class="mittig">
      	<p class="bildgr grau2">Konzept/Koordination: Felix Brandl | Barrierefreie Programmierung: Klaus Lofing - www.barrierefreiesweb.de</p>
  	  	<p class="margin1_total">&copy; 2015 Goethe-Institut | <a href="http://www.goethe.de/pro/dse/imp_de.htm" target="_blank" title="zum Impressum in neuem Fenster">Impressum</a> | <a href="http://www.goethe.de/pro/dse/dse_de.htm" target="_blank" title="zum Datenschutz in neuem Fenster">Datenschutz</a> | <a href="http://www.goethe.de/pro/dse/nb_de.htm" target="_blank" title="zu den Nutzungsbedingungen in neuem Fenster">Nutzungsbedingungen</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Webtrekk 4, (c) www.webtrekk.de --> 
<script src="//www.goethe.de/skripte/webtrekk_v4.min.js" type="text/javascript"></script> 
<script src="//www.goethe.de/skripte/webtrekk-conf_contens.v2.js" type="text/javascript"></script> 
<script type="text/javascript">if(typeof(wt.sendinfo) != "undefined")wt.sendinfo();</script> 
<noscript> 
<div><img src="//goetheinstitut01.webtrekk.net/382202390743064/wt.pl?p=212,&amp;ov=&amp;cr=&amp;oi=&amp;ba=&amp;co=&amp;qn=&amp;ca=&amp;pi=&amp;st=&amp;cd=&amp;cg=" height="1" width="1" alt="" /></div> 
</noscript> 
<!-- /Webtrekk -->
<!--ende pagewrapper-->
</body>
</html>