<!DOCTYPE html>
<html>
<head>
	<h1> Lösungen </h1>
	</head>
	<body>
	<ol>
		<li> Ralfs Geburtstag ist am Kommenden Sonntag.</li>
		<li> Ja, es gibt viele Leute </li>
		<li> nämlich bedeudet (à savoir que ) </li>
		<li> Carmen musst nicht einen Pullover oder eine Jacke bringen </li>
		</ol>
		<style>
			body{
				border-box
				align-items: center;
				border-width:2px;
                padding: 5px;
                 border-style:solid;
                 border-color:black;
			}
			h1{
				text-decoration:underline;
			}
		</body>
		</html>
		